.page_articleDetail{
  @include flexbox();
  @include justify-content(flex-end);
  @media #{$tablet} {
    @include flex-flow(row wrap);
  }
  &__imgs {
    width: 50%;
    height: 100%;
    left: 0;
    top: 50%;
    overflow: hidden;
    position: fixed;
    @include transform(translateY(-50%));
    @media #{$tablet} {
      width: 100%;
      position: relative;
      left: inherit;
      top: inherit;
      height: 400px;
      @include transform(inherit);
    }
    @media #{$mobile} {
      height: 250px;
    }
    &--zoom{
      position: relative;
      overflow: hidden;
      @media #{$tablet} {
        overflow: inherit;
        height: 100%;
      }
      div{
        position: fixed;
        top: 0%;
        left: 50%;
        max-width: 200%;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0;
        background-size: cover;
        background-position: center center;
        @include transform(translateX(-50%));
        @include transition(opacity 2s cubic-bezier(.23,1,.32,1));
        will-change: -webkit-filter, filter, transform;
        &.active{
          z-index: 10;
          opacity: 1;
        }
        @media #{$tablet} {
          width: 100%;
          position: absolute;
          top: inherit;
          height: 400px;
          left: inherit;
          @include transform(inherit);
        }
        @media #{$mobile} {
          height: 250px;
        }
      }
    }
    &--goBack{
      background-color: $white;
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 40px;
      font-weight: 700;
      color: $black;
      z-index: 30;
      display: inline-block;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      position: absolute;
      top: 40px;
      left: 40px;
      text-decoration: none;
      @include box-shadow(0 4px 6px 0 hsla(255, 255, 255, .2));
      @include animation( moveToTop .5s cubic-bezier(0.2, 1, 0.3, 1) forwards);
      @media #{$mobile} {
        top: 20px;
        left: 20px;
      }
    }
  }
  &__article{
    width: 50%;
    padding: 150px 5vw 5vw;
    position: relative;
    @include animation( moveToTop .5s cubic-bezier(0.2, 1, 0.3, 1) forwards);

    @media #{$tablet} {
      width: 100%;
      padding: 5rem 5vw 5vw;
    }
    @media #{$mobile} {
      padding: 3rem 5vw;
    }

    &--infos{
      font-weight: 700 !important;
      text-transform: uppercase;
      font-size: 1.4rem;
      margin-top: 0 !important;
      @media #{$mobile} {
        font-size: 1.2rem;
      }
    }
    &--date{
      padding-right: 20px;
      position: relative;
      &:after{
        content: '';
        width: 5px;
        height: 5px;
        position: absolute;
        top: 50%;
        right: 8px;
        background-color: $black;
        display: inline-block;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        @include transform(translateY(-50%));
      }
    }
    &--theme{
      color: $yellow;
    }

    h1{
      @media #{$mobile} {
        font-size: 2.5rem;
      }
    }
    h1{
      margin-bottom: 5rem;
      @media #{$mobile} {
        margin-bottom: 3rem;
      }
    }
    h2{
      margin-top: 3rem;
      position: relative;
      counter-reset: none;
      counter-increment: count;
      @media #{$mobile} {
        font-size: 2rem;
        margin-top: 2rem;
      }
      &:before{
        content: counter(count)".";
        margin-right: 5px;
        display: inline-block;
        color: $yellow;
      }
    }
    blockquote{
      margin: 2.5rem 0;
      font-style: italic;
      position: relative;
      padding-left: 20px;
      color: rgba(0,0,0,.54);
      //@include box-shadow(inset 3px 0 0 0 rgba(0,0,0,.54));
      &:after{
        content: '';
        height: 100%;
        width: 3px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.54);
      }
      cite{
        margin-top: 2rem;
        display: block;
        font-weight: 900;
      }
    }
    p{
      margin-top: 1rem;
      line-height: 2.5rem;
      font-weight: 300;
      position: relative;
      overflow: hidden;
      @media #{$mobile} {
        font-size: 1.4rem;
      }
      img{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
      }
    }
    ul{
      padding-left: 2.5rem;
      margin: 2.5rem 0;
      li{
        position: relative;
        &:before{
          content: '';
          width: 5px;
          height: 5px;
          position: absolute;
          top: 10px;
          left: -15px;
          background-color: $yellow;
          display: inline-block;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
        }
      }
    }
    strong, b{
      font-weight: 900;
    }
    figure{
      margin-top: 2.5rem;
      text-align: center;
      display: block;
      figcaption{
        margin-top: 10px;
        font-size: 1.4rem;
        font-style: italic;
      }
    }
    a{
      font-weight: 700;
      position: relative;
      text-decoration: none;
      color: $blue;
      display: inline-block;
      &:hover{
        @include animation(pulsate-fwd 0.3s ease-in-out both);
      }
      &:after{
        content: '';
        width: 100%;
        position: absolute;
        height: 2px;
        background-color: $blue;
        bottom: 0;
        left: 0;
      }
    }
  }
}
