.page_homepage{
  @include flexbox();
  @include justify-content(flex-end);
  &__user{
    width: 50%;
    height: 100%;
    left: 0;
    top: 50%;
    @include transform(translateY(-50%));
    overflow: hidden;
    position: fixed;
    order: 2;
    background-size: cover;
    background-position: center center;
    @include flexbox();
    @include align-items(center);
    @include flex-flow(column wrap);
    @include justify-content(flex-end);
    &--infos{
      margin-top: auto;
      color: $white;
      text-align: center;
      padding-bottom: 50px;
    }
  }
  &__articles{
    width: 50%;
    padding: 150px 5vw 5vw;
    position: relative;

    @import "../components/homepage_article";

  }
}
