@import "styles/partials/mixins";

.gooey {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  background: #fff;
  filter: contrast(20);
  @include transform(translate(-50%));
  .dot{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #222222;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
  }
  .dots{
    margin-top: 12px;
    margin-left: 31px;
    @include transform(translateX(0));
    @include animation(dots 2.8s infinite)
  }
  span{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #222222;
    border-radius: 50%;
  }
}
@include keyframes(dot) {
  50% {
    transform: translateX(96px);
  }
}
@include keyframes(dots){
  50% {
    transform: translateX(-31px);
  }
}

